@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="flex flex-col space-y-5">
    <input asp-for=@Model.Username type="text" placeholder="Username" title="Username"
        class="text-center box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full h-11" />
    <input asp-for=@Model.Password type="text" placeholder="Password" title="Password"
        class="text-center box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full h-11" />
    <button asp-page="/Index" asp-page-handler="Login" type="submit" title="Login"
        class="px-5 py-1 box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full">
        Login
    </button>
</form>