@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-full flex justify-center">
    <div class="flex flex-col space-y-5 border-2 p-5 border-sky-300 rounded-3xl">
        <div class="flex items-center space-x-5">
            <img src="~/dist/images/idesse-symbol.svg" />
            <label>Login</label>
        </div>
        <input placeholder="User Name" class="text-center box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full h-11" />
        <input placeholder="Password" class="text-center box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full h-11" />
        <button class="px-5 py-1 box-border border-2 border-sky-300 border-dotted hover:border-dashed rounded-full">Login</button>
    </div>
</div>
