@page
@{
    ViewData["Title"] = "Home";
}

<div class="max-w-5xl">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum tincidunt vestibulum. Praesent
    blandit neque eget nibh tempus luctus. Duis ut nulla eget augue fermentum imperdiet. Nam metus mauris,
    condimentum vel turpis a, tincidunt tempor magna. Sed vestibulum, ex ac cursus faucibus, nulla justo
    tristique mauris, ut dictum metus nunc at velit. Sed et metus feugiat urna gravida congue. Sed dignissim
    dignissim tortor non pulvinar. Vestibulum sed viverra turpis. Cras imperdiet mauris nec porttitor facilisis.
    Fusce sollicitudin quam nunc, eget vulputate libero facilisis nec. In pellentesque nisl ac felis rhoncus
    congue in eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
    curae; Nam nec ipsum nisi. Aliquam sed lacus auctor velit molestie laoreet vitae non leo. Phasellus et dui
    scelerisque, fermentum metus vel, congue nisi. Aenean laoreet hendrerit pellentesque.
</div>